@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
$Poppins: 'Poppins',
    sans-serif;

// colors
// $dark:rgb(29,29,29);
$dark: #f37e20;
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);
$footerBg: #d3d3d3;

// spacing

$spacing-md: 2px;
$spacing-lg: 2px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 50px;

@mixin breakpoint ($point) {
    @if $point ==md {

        // 768 px
        @media (min-width:48em) {
            @content;
        }
    }
}